* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Afacad", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg--color: #111111;
  --text-color: #fff;
  --main-color: #333333;
  --other-color: #8e8e8e;
  --second-color: #1d1d1d;
  --brown-color: #bfa57d;
}

body {
  background-color: var(--bg--color);
}

li,
a,
button {
  font-weight: 500;
  font-size: 18px;
  color: #bfa57d;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  background-color: var(--bg--color);
  margin-bottom: 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease;
}

.nav_links li a:hover {
  color: var(--text-color);
}

/* menu navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #d3b574;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #333;
  border-radius: 30px;
  top: 100%;
  left: 0;
  padding: 0;
  list-style: none;
  min-width: 200px;
}

nav ul ul li {
  width: 100%;
  padding: 10px;
}

nav ul ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 30px;
}

nav ul ul li a:hover {
  background-color: #575757;
  border-radius: 30px;
}

nav ul li:hover > ul {
  display: block;
}
/* ........ */
button {
  padding: 9px 25px;
  background-color: #bfa57d;
  border: none;
  border-radius: 15px;
  color: var(--bg--color);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--second-color);
  color: var(--text-color);
}
.logout-icon {
  margin-left: 15px;
  color: white;
  border: 1px solid white;
  padding: 7px 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.logout-icon:hover {
  color: var(--brown-color);
  transition: all 0.5s ease;
}
/* hero section */
.hero {
  background: url(img/Gluten-free\ Blueberry-Meringue\ Tart.jpeg);
  background-size: cover;
  height: 50vh;
  width: 100%;
  margin-top: 0px;
  padding: 110px;
}
.title h1 {
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
}
/* reservation-section */
.reservation-section {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.reservation-section {
  text-align: center;
  padding: 100px;
  background-position: center;
  position: relative;
}

.reservation-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg--color);
}

.container {
  position: relative;
  z-index: 1;
}

.reservation-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.reservation-form select,
.reservation-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 150px;
}

.reservation-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--brown-color);
  color: #000;
  font-size: 1rem;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

p {
  font-size: 1rem;
  color: #999;
}

/* Availability Section */
.availability-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.availability-box {
  background-color: var(--second-color);
  border-radius: 30px;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  color: var(--text-color);
}

.availability-box h3 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.availability-number {
  font-size: 4rem;
  font-weight: bold;
  color: #bfa57d; /* Gold color */
}

/* Footer Section */

.footer-distributed {
  background-color: #1d1d1d;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .logo {
  width: 150px;
  cursor: pointer;
  margin-left: 90px;
}

.footer-distributed .footer-left {
  margin-right: 50px;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0px 0px 12px 100px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
  font-weight: 300;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-left: 100px;
}

/* Footer Center */

.footer-distributed .footer-center {
  margin-left: 60px;
  margin-right: 110px;
}
.footer-distributed h2 {
  color: #bfa57d;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.footer-distributed .footer-center i {
  color: #ffffff;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  font-weight: 300;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-distributed .footer-icons a:hover {
  background-color: #232425;
}

.footer-links a:hover {
  color: #bfa57d;
  transition: all 0.5s ease;
}
